// font variables //

$normal: "Helvetca";


// font classes //

.header-title{
	@include absolute-center($left:1em);
	font-size:0.7em;
	left:10px;
	height:48%;
	color:lighten($blue,10);

	&:hover{
		text-decoration:none;
		color:$lightblue;
	}
}

