.loader,#loader{
	
	position: relative;
	margin: 3em auto 0;
	height: 40px;
	width:90%;
	

	.loaderWrapper{
		
		@include absolute-center($bottom:38px);
		width:50px;
		height:50px;


		img{
			@include absolute-center;
			width: 30px;
			height: 30px;	
		
		}//img
	}//.loaderWrapper
}//loader

#loader {
	
	border-top: 1px solid rgb(180,180,180);

	.loaderWrapper{
		background-color: rgb(233,233,233);
	}
}

.loader-entire{
	@include absolute-center;
	height: 50px;
	width: 50px;
}




.pointer{
	cursor:pointer;
}//pointer

.default{
	cursor:default;
}//pointer

.clear{
	clear:both;
}

.toggleShow{
	display:block!important;
}

.push-up{
	margin-top:9em!important;
}

.wide-width{
	width:100%!important;
}

.outOfContent{
	margin-top:3em;
	
	p{
		text-align:center;
		font-size:1.5em;
	}
}

.separator{
	height:100%;
	position:relative;
}

.separator-right{
	width:70%;
	float:right
}

.separator-left{
	width:30%;
	float:left
}

.position-center{
	@include absolute-center;
	height: 500px;
}