<section class="utility-section">
	<h1 hidden>search</h1>
	<a href="#" ui-sref=".create" class='btn btn-default create'>
		Create
	</a>
     <div reset="searchFocused">
		<div  class="input-group search">
			<input id="searchbox" ng-change="updateSearch()" focus-me="searchFocused" ng-model="searchQuestion" type="text" placeholder="Search..."class="form-control">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-search"></i>
			</span>
		</div>
		<div ng-if="searchFocused" id="categorybox" class="popover-searchbox">
			<i class="fa fa-sort-up"></i>
			<p class="title ">
				<span id="category-select" ng-click="showOrder=false" ng-class="{'selected':!showOrder}" class="pointer pull-left">Categories </span>
				<span id="order-select" ng-click="showOrder=true" ng-class="{'selected':showOrder}" class="pointer pull-right">Order by</span>
			</p>
			<hr class="clear">
			<div ng-show="showOrder" class="orders">
				<ul>
					<li ng-click="sortBy(order)" ng-repeat="order in orders">{{order}}</li>
				</ul>
			</div>
			<div class="categories">
				<ul>
					<li ng-click="putCategory(category)" ng-hide="showOrder" ng-repeat="category in categories">{{category}}</li>
				</ul>
			</div>
		</div>
     </div>
</section>
<section class='content-section'>
	<h1 hidden>question</h1>
	<div class="orderby gray">
		Order by - {{order}}
	</div>
	<ul deckgrid source="questions" class="deckgrid" id='content-cards'>
		
		<!-- show this when there are no questions -->
		<!-- <p ng-show="!filteredQuestions.length" class="noContent">
			Couldn't find anything
		</p>	 -->

		<!-- ng-repeat="question in filteredQuestions = (questions | filter:searchQuestion | orderBy:orderBy:reverse)" -->
		<li  ng-controller="ListCtrl">
			
			<div answered='card.alreadyAnswered' submitted="submitted"  class="card card-large">
				<!-- should make a directive for this -->
				<div favorited="card" favorite="favorite" class="favorite-button" ng-click="fillStar(card)">
					<i ng-show="!favorite" class="glyphicon glyphicon-star-empty"></i>
					<i ng-show="favorite" class="glyphicon glyphicon-star"></i>
				</div>

				<div ui-sref=".share({id:card.id})" class="share-button">
					<i class="glyphicon glyphicon-share"></i>
				</div>

				<div ng-hide="submitted" class="content">
					
					<p class='question'>
						{{card.question}}
					</p>

					<!-- Warning message -->
					<p ng-show="warning" class="animated fadeIn alert alert-danger">
						Please select something
					</p>

					<form ng-submit="submitAnswer(answer,card)" id="surveyForm">

						<ul no-scope-repeat items="card.options" class="answers">
						</ul>
						<input type="submit" class="submit-button btn btn-primary btn-sm" value="See result">
					</form>
				</div>


				<!-- <div ui-view='result' ng-show="submitted" class="animated question-content" ng-class="{back:submitted}"></div> -->


				<div class="card-bottom">
					<ul>
						<li class='userPhoto'>
							<a href="#">
								<img ng-src="{{card.photo}}" alt="{{card.creatorName}}">
							</a>
						</li>
						<li class='category silver'>
							category: 
							<span ng-click="mother.searchByCategory(card.category)" class='name gray'>
								{{card.category}}
							</span>
						</li>
					</ul>
				</div>

			</div>
		</li>

	</ul>

	<!-- should make a directive for this -->
	<div id="loader">
		<div class="loaderWrapper">
			<img src="/img/utility/loader.gif" alt="loading">
		</div>
	</div>
</section>
