<section class="utility-section">
	<h1 hidden>search</h1>
	<a href="#" ui-sref=".create" class='btn btn-default create'>
		Create
	</a>
     
	<div class="input-group search">
		
		<input ng-model="searchQuestion" type="text" placeholder="Search..."class="form-control">
			
		<span class="input-group-addon">
			<i class="glyphicon glyphicon-search"></i>
		</span>
	</div>

</section>
<section class='content-section'>
	<h1 hidden>question</h1>
	<ul class='content-cards'>
		<li class="card card-large" ng-repeat="question in questions | filter:searchQuestion">
			<!-- should make a directive for this -->
			<div class="favorite-button" ng-click="fillStar()">
				<i ng-hide="isStarFilled" class="glyphicon glyphicon-star-empty"></i>
				<i ng-show="isStarFilled" class="glyphicon glyphicon-star"></i>
			</div>
			<div class="share-button">
				<i class="glyphicon glyphicon-share"></i>
			</div>

			<p class='question'>
				<span>Which one </span>{{question.question}}
			</p>
			<p class="alert alert-danger">
				Please select something
			</p>
			<form id="surveyForm" action="">
				<ul class="answers">
					<li class='answer' ng-repeat=' option in question.options'>
						<label class='pointer'>
							<input type="radio" name="sex" value="male">
							{{option}}
						</label>
					</li>
				</ul>
				<button id="surveySubmit" class="btn btn-primary btn-sm">See result</button>
			</form>
			<div class="card-bottom">
				<ul>
					<li class='userPhoto'>
						<a href="#">
							<img src="/img/profile-pic.jpg" alt="masanorinyo">
						</a>
					</li>
					<li class='category silver'>
						category: 
						<span ng-click="searchByCategory(question.category)" class='name gray'>
							{{question.category}}
						</span>
					</li>
				</ul>
			</div>
		</li>

	</ul>
	<!-- should make a directive for this -->
	<div id="loader">
		<div class="loaderWrapper">
			<img src="/img/utility/loader.gif" alt="loading">
		</div>
	</div>
</section>
