<div ng-if="account.message.length" class="account-messageBox alert animated fadeIn" ng-class="{'alert-info':account.success,'alert-danger':account.fail}">
	{{account.message}}
</div>
<section class="container-utility">
	
	<div class="order pull-left">
		<label for="order">
			Order by: 
		</label>
		<div class="styled-select">
			<select id="order" ng-change="changeOrder(order)" ng-model="order" ng-options="order for order in options.orders"></select>
			<i class="fa fa-chevron-down"></i>
		</div>
	</div>
	
	<div class="category pull-right">
		<label for="category">
			Category: 
		</label>
		<div class="styled-select">
			<select id="category" ng-change="changeCategory(category)" ng-model="category" ng-options="category for category in options.categories"></select>
			<i class="fa fa-chevron-down"></i>
		</div>
	</div>

	<div class="content-organizer">
		<ul class="pull-right">
			<li>
				<label>Order by:</label>
				<span class="selected blue"> {{order}}</span>
			</li>
			<li>
				<label>Category:</label>
				<span class="selected blue"> {{category}}</span>
			</li>
		</ul>
		
		
	</div>
	
</section>



<section infinite-scroll="downloadMoreContents()" infinite-scroll-disabled="anyContentsLeft" class='content-section'>

	<h1 hidden>question</h1>
	<div ng-show="!questions.length" class="noContent">
		Couldn't find anything
	</div>
	<ul  deckgrid source="questions" class="deckgrid content-cards" >
		
		<li  ng-controller="ListCtrl">
			
			<div answered='card.alreadyAnswered' submitted="submitted"  class="card card-large animated fadeIn">
				<!-- should make a directive for this -->
				<div favorited="card" favorite="favorite" class="favorite-button" ng-click="fillStar(card)">
					<i ng-show="!favorite" class="glyphicon glyphicon-star-empty"></i>
					<i ng-show="favorite" class="glyphicon glyphicon-star"></i>
				</div>

				<div ui-sref=".share({id:card._id})" class="share-button">
					<i class="glyphicon glyphicon-share"></i>
				</div>

				<div ng-hide="submitted" class="content">
					
					<p class='question'>
						{{card.question}}
					</p>

					<!-- Warning message -->
					<p ng-show="warning" class="animated fadeIn alert alert-danger">
						Please select something
					</p>

					<form ng-submit="submitAnswer(answer,card)" class="surveyForm">

						<ul no-scope-repeat-for-grid items="card.option" class="answers">
						</ul>
						<input type="submit" class="submit-button btn btn-primary btn-sm" value="See result">
					</form>
				</div>


				<div ng-controller="TargetAudienceCtrl" ng-show="submitted" class="question-content">
					<div class="content animated fadeInLeft" no-scope-repeat-for-targets items="card.targets"></div>
					<div class="page-chart content animated fadeInLeft" ng-class="{'toggleShow':areAllQuestionAnswered}">	
						<h4 class="gray result-label">
							Result:
						</h4>
						
						<p class="question gray">
							{{card.question}}
						</p>

						<hr>

						<ul class="answers">
							<li class="blue">	
								Total count: 
								<span class="badge">
									{{card.totalResponses}}
								</span>
							
							</li>
							<div no-scope-repeat-for-counts items="card.option">
								
							</div>
						</ul>
					 	
						<div class="canvas-wrapper">
							<canvas ng-show="areAllQuestionAnswered"  piechart options="myChartOptions" class="chart-main" data="myChartData" width="320" height="320"></canvas>
						</div>

					    
						<button ng-hide="isAccessedViaLink" ng-click="resetAnswer(card)" class="reset-button bigger btn btn-default">
							Reset
						</button>

						
						<button ui-sref="home.deepResult({id:card._id})" class="submit-button bigger btn btn-success">
							See deep result
						</button>
					</div>
					
				</div>
				
				<div class="card-bottom">
					<ul>
						<li class='userPhoto'>
							<a href='#' ng-href="#/setting/questions/{{card.creator}}">
								<img ng-src="{{card.photo}}" alt="{{card.creatorName}}">
							</a>
						</li>
						<li class='category silver'>
							category: 
							<span ng-click="searchByCategory(card.category)" class='name gray'>
								{{card.category}}
							</span>
						</li>
					</ul>
				</div>

			</div>
		</li>

	</ul>

	<!-- should make a directive for this -->
	<div ng-show="showLoader" id="loader">
		<div class="loaderWrapper">
			<img src="/img/utility/loader.gif" alt="loading">
		</div>
	</div>
	<div ng-show="anyContentsLeft && questions.length" class="outOfContent">
		<p>No more questions</p>
	</div>
</section>
