<section ng-show="utility.isCreatingQuestion" ng-class="{fadeOutLeft:!utility.isCreatingQuestion,fadeInLeft:utility.isCreatingQuestion}" class="animated create-question">
		
	<!-- Warning messages -->
	<div  ng-show="message.questionNotFound != '' || message.optionsNotEnough != '' || message.categoryNotChosen != '' " class="animated fadeIn alert alert-danger">
		<div ng-show="message.questionNotFound != ''">
			- {{message.questionNotFound}} <br>
		</div>
		
		<div ng-show="message.optionsNotEnough != ''">
			- {{message.optionsNotEnough}} <br>
		</div>
		
		<div ng-show="message.categoryNotChosen != ''">
			- {{message.categoryNotChosen}}
		</div>
	</div>
	
	<label for="question" class="explanation">
		Question:  
	</label>
	
	<input ng-model="question.question" type="text" name="question" id="question" placeholder="Which one do you think ....." class="form-control">
	
	<p class='actualQuestion well'>
		{{question.question}}
	</p>

	<hr>

	<label for="category">
		Category:
	</label>
	<select ng-model="question.category" id='category'class="form-control">
		<option value="0">Select Category</option>
		<option value="Animal">Animal</option>
		<option value="Architecture">Architecture</option>
		<option value="Art">Art</option>
		<option value="Business">Business</option>
		<option value="Cars">Cars & Motorcycles</option>
		<option value="Celebrities">Celebrities</option>
		<option value="Design">Design</option>
		<option value="DIY">DIY & Crafts</option>
		<option value="Education">Education</option>
		<option value="Entrepreneurship">Entrepreneurship</option>
		<option value="Film">Film, Music & Books</option>
		<option value="Food">Food & Drink</option>
		<option value="Gardening">Gardening</option>
		<option value="Geek">Geek</option>
		<option value="Hair">Hair & Beauty</option>
		<option value="Health">Health & Fitness</option>
		<option value="History">History</option>
		<option value="Holidays">Holidays & Events</option>
		<option value="Home">Home Decor</option>
		<option value="Humor">Humor</option>
		<option value="Illustration">Illustration & Posters</option>
		<option value="Joke">Joke</option>
		<option value="Lifestyle">Lifestyle</option>
		<option value="Men">Men's Fashion</option>
		<option value="Outdoors">Outdoors</option>
		<option value="Politics">Politics</option>
		<option value="Photography">Photography</option>
		<option value="Products">Products</option>
		<option value="Quotes">Quotes</option>
		<option value="Science">Science & Nature</option>
		<option value="Sports">Sports</option>
		<option value="Tatoos">Tatoos</option>
		<option value="Technology">Technology</option>
		<option value="Travel">Travel</option>
		<option value="Weddings">Weddings</option>
		<option value="Women">Women's Fashion</option>
		<option value="Other">Other</option>
	</select>

	<hr>

	<form ng-submit="createOption(question.newOption)" class="create-answers">
		
		<label for="newOption" class="explanation">
			What are the options?
		</label>
		
		<div class="input-group">
			<input ng-model="question.newOption" id="newOption" type="text" name="newOption" placeholder="option ..."  class="form-control">
			<span class="input-group-btn">
				<input type="submit" value="Save" class="btn btn-default">
			</span>
		</div>
		
	</form>
	
	<div ng-class="{fadeOutDown:utility.isOptionAdded}" class="icon-wrapper animated">
		<i class="glyphicon glyphicon-chevron-down"></i>
	</div>
	<div ng-show="utility.isSameOptionFound" class="animated fadeIn alert alert-warning">
		The same option already created
	</div>
	
	<ul class='list-group'>
		<li ng-repeat="option in question.option" class='animated fadeInLeft list-group-item'>
			option {{$index+1}}: 
			<span class="option">{{option.title}}</span>
			<i ng-click="removeOption($index)" class="glyphicon glyphicon-remove pointer"></i>
		</li>
	</ul>

</section>