<header class='main-header'>
	
	<div class="header-wrapper">
		<h1 ng-click="refresh()">
			<a class='header-title' href="#">
				Which one</a>
		</h1>
		
		<div ng-if="user.isLoggedIn" class="profile pull-right dropdown">
		    <a href="#" class="dropdown-toggle">
		      <img ng-src="{{user.profilePic}}" alt="{{user.name}}" class="img-circle">
		    </a>
			<ul class="dropdown-menu">
				<li><a ng-href="#/setting/{{user.id}}">Profile</a></li>
				<li><a ng-href="#/setting/{{user.id}}/favorites">favorites</a></li>
				<li><a ng-href="#/setting/{{user.id}}/questions">My questions</a></li>
				<li><a ng-href="#/setting/{{user.id}}/answers">My answers</a></li>
				<li ng-click="logout()"class="border-top"><a ng-href="/logout">Logout</a></li>
			</ul>
		</div>

		
		<ul ng-if="!user.isLoggedIn">
			
			<div class="btn-auth btn btn-default" ui-sref=".signup">
				<i  class="fa fa-user"></i>
			</div>

			<a class="btn-login" href="#"  ui-sref=".login">
				<li class="btn btn-sm btn-default">
					login
				</li>
			</a>
			<a class="btn-signup" href="#"  ui-sref=".signup">
				<li class="btn btn-sm btn-success">
					signup
				</li>
			</a>
		</ul>
	</div>

</header>

<!-- login / signup directive -->
<div ui-view></div>