<div ng-hide="userLoaded" class="loader-entire">
	<div class="loaderWrapper">
		<img src="/img/utility/loader.gif" alt="loading">
	</div>
</div>
<section ng-show="userLoaded" class='setting'>
	<h2 hidden>Setting</h2>
	<div ng-if="onMyPage" class="animated fadeIn">
		<div class="card">
			<div class="title-header">
				<h3>Account Setting</h3>
			</div>
			<div class="content">
				<ul>
					<li class="content-list" >
						<label for="email" class="gray">E-mail: </label>
						<span>{{user.email}}</span>
					</li>
					<li class="content-list"  ng-controller="ChangePassCtrl">
						<label class="gray">Password:</label>
						<span ng-click="openPassModal()"  class="form-link blue">Change password</span>
					</li>
					<li  class="content-list" ng-controller="ChangePhotoCtrl">
						<label class="gray">Profile Picture: </label>
						<span href="#" ng-click="openPhotoModal()" class="form-link blue">Change profile picture</span>
					</li>
		
				</ul>
			</div>
		</div>
	</div>
	<div class="well username" ng-hide="onMyPage">
		<div class="separator separator-left">
			<img class="img-circle" ng-src="{{anotherUser.profilePic}}" alt="{{anotherUser.username}}">
		</div>
		<div class="separator separator-right">
			<p class="gray"><span>{{anotherUser.username}}</span>'s page</p>
		</div>
	</div>
	<div class="navi" ng-class="{'narrower-navi':!onMyPage}" class="animated fadeIn">
		<div class="btn-group">
			<button ng-if="onMyPage" type="button" ng-click="showFavorites()" ng-class="{'active':type=='favorites' || type=='profile' }" class="btn btn-default">
				Favorites
			</button>
			<button type="button" ng-click="showQuestions()" ng-class="{'active':type=='questions' }" class="btn btn-default">
				My questions
			</button>
			<button type="button" ng-click="showAnswers()" ng-class="{'active':type=='answers' }" class="btn btn-default">
				My answers
			</button>
			<button ng-if="onMyPage" type="button" ng-click="showFilters()" ng-class="{'active':type=='filters' }" class="btn btn-default">
				Filters
			</button>
		</div>
	</div>
	<div class="content-questions" infinite-scroll="downloadMoreData()" infinite-scroll-disabled="anyContentsLeft">
		<ul class='content-cards'>
			<p ng-show="!questions.length" class="noContent">
				Couldn't find anything
			</p>
			<li ng-show="type!='filters'" ng-repeat="question in questions" 
			 ng-controller="ListCtrl" class="animated fadeIn">

				<div answered='question.alreadyAnswered' submitted="submitted"  class="card card-large">
					
					<!-- should make a directive for this -->
					<div favorited="question" favorite="favorite" class="favorite-button" ng-click="fillStar(question)">
						<i ng-show="!favorite" class="glyphicon glyphicon-star-empty"></i>
						<i ng-show="favorite" class="glyphicon glyphicon-star"></i>
					</div>

					<div ng-click="openShareModal(question._id)" class="share-button">
						<i class="glyphicon glyphicon-share"></i>
					</div>

					<div ng-hide="submitted" class="content">
						
						<p class='question'>
							{{question.question}}
						</p>

						<!-- Warning message -->
						<p ng-show="warning" class="animated fadeIn alert alert-danger">
							Please select something
						</p>

						<form ng-submit="submitAnswer(answer,question)" class="surveyForm">
							
							<ul class="answers">
								<li ng-hide="targetQ.isQuestionAnswered" class='answer' ng-repeat='option in question.option'>
									<label class='pointer'>
										<input ng-model="$parent.answer" type="radio" name="answer" ng-value="option">
										{{option.title}}
									</label>
								</li>
							</ul>
							<input type="submit" class="submit-button btn btn-primary btn-sm" value="See result">
						</form>
					</div>

					
					<div ui-view='result' ng-show="submitted" class="animated question-content"></div>


					<div class="card-bottom">
						<ul>
							<li class='userPhoto'>
								<a href="#">
									<img ng-src="{{question.photo}}" alt="{{question.creatorName}}">
								</a>
							</li>
							<li class='category silver'>
								category: 
								<span ng-click="searchByCategory(question.category)" class='name gray'>
									{{question.category}}
								</span>
							</li>
						</ul>
					</div>

				</div>
			</li>
			
			<li ng-show="type =='filters'" ng-repeat="filter in filters" ng-controller="FilterListCtrl">
				<div class="card card-large">
					<div class="content">
						<p class='question'>
							{{filter.question}}
						</p>

						<!-- Warning message -->
						<p ng-if="answerChanged" class="animated fadeIn alert alert-success">
							Answer was changed
						</p>

						<form ng-submit="changeAnswer(answer[$index],filter)" class="surveyForm">
							
							<ul class="answers">
								<li class='answer' ng-repeat='list in filter.lists'>
									<label class='pointer'>
										
										<input ng-model="$parent.answer[$parent.$index]" type="radio" name="answer" ng-value="list.option">
										{{list.option}}
									</label>
								</li>
							</ul>
							<input type="submit" class="submit-button btn btn-primary btn-sm" value="Change">
						</form>
					</div>
				</div>
			</li>
		</ul>
		<div ng-show="showLoader" id="loader">
			<div class="loaderWrapper">
				<img src="/img/utility/loader.gif" alt="loading">
			</div>
		</div>
		<div ng-show="anyContentsLeft && questions.length" class="outOfContent">
			<p>No more questions</p>
		</div>
	</div>
</section>
