<div class='animated fadeInLeft box-description'>
	<p ng-hide="areAllQuestionAnswered"  class='pointer label label-info description'>
		<i class='fa fa-info-circle'></i>
	</p>
	
	<p ng-show="areAllQuestionAnswered"  class='label label-info description'>
		Statistics
		<i class="fa fa-bar-chart-o"></i>
	</p>
</div>
<div  ng-repeat="target in question.targets" class="content animated fadeInLeft" ng-show="$index==filterNumber">	
	
	<p class='question target'>
		{{target.question}}
		
	</p>
	
	<!-- Warning message -->
	<p ng-show="warning" class="animated fadeIn alert alert-danger">
		Please select something
	</p>
	
	<form ng-submit="submitTarget(question,targetAnswer,$index)">
		
		<ul class="answers">
			<li class='answer' ng-repeat='list in target.lists'>
				<label class='pointer'>
					<input ng-model="$parent.targetAnswer" type="radio" name="targetAnswer" ng-value="list.option">
					{{list.option}}
				</label>
			</li>
		</ul>

		<input type="submit" class="submit-button btn btn-primary btn-sm" value="Next">
	</form>
</div>

<div class="content animated fadeInLeft" ng-show="areAllQuestionAnswered">	

	<p class='question target gray'>
		{{question.question}}
	</p>
	<ul class="answers">
		<li class="blue">	
			Total count: 
			<span class="default bg-blue badge" tooltip-placement="bottom" tooltip-append-to-body="true"  tooltip="{{question.totalResponses}} people answered to this question">
				{{question.totalResponses}}
			</span>
		
		</li>
		<li class='answer gray' ng-repeat='option in question.option'>
			{{option.title}}: 
			<span class="default badge" tooltip-placement="bottom" tooltip-append-to-body="true"  tooltip="{{option.count}} people chose this answer">
				{{option.count}}
			</span>
		</li>
	</ul>
 	
	<div class="canvas-wrapper">
		<canvas  ng-if="areAllQuestionAnswered" piechart options="myChartOptions" class="chart-main" data="myChartData" width="320" height="320"></canvas>
	</div>

    
	<button ng-hide="isAccessedViaLink" ng-click="resetAnswer(question)" class="reset-button bigger btn btn-default">
		Reset
	</button>

	<!-- This will show up on the setting page -->
	<!-- ui-sref="home.anotherDeep({id:question.id})" -->
	<button ng-if="isAccessedFromSetting"  ng-click="showDeepResult(question._id)" class="submit-button bigger btn btn-success" >
		<i class="fa fa-dashboard"></i>  
		 &nbsp; 
		 Analyze 
	</button>
	

	<!-- This will refresh the page -->
	<button ng-if="!isAccessedFromSetting" ui-sref="home.deepResult({id:question._id})" class="submit-button bigger btn btn-success">
		<i class="fa fa-dashboard"></i>  
		 &nbsp; 
		 Analyze 
	</button>
</div>
