<section ng-show="utility.isQuestionCreated" ng-class="{fadeInRight:utility.isQuestionCreated,fadeOutRight :!utility.isQuestionCreated}" class="animated target-audience">
	<label for="">
		search filters or create your own:
	</label>
	<div class="utility-wrapper">
		<input ng-model="searchText" ng-change="searchFilter()" type="text" placeholder="Filter responses by ..." name="search" class="pull-left search form-control" >
		<button ng-click="openCreateFilterBox()" class="pull-right btn btn-default">
			Create
		</button>
	</div>
	
	<hr>

	<div ng-show="utility.readyToMakeNewFilter">
		<div new-filter></div>

	</div>
	<ul class='clear audience-cards'>
		<p class="hiddenMessage">
			No filters were found
		</p>
		<li ng-repeat="target in targets" class="card card-small" ng-controller="FilterCtrl" >
			<div class="title-wrapper">
				<!-- stop-event -->
				<div button-ok="question" target="target" filter-added="filterAdded" ng-click="addFilter(target)" ng-class="{'bg-blue':filterAdded}" class='icon-wrapper pull-left'>
					<i ng-show="!filterAdded" class="glyphicon glyphicon-plus"></i>
					<i ng-show="filterAdded" class="glyphicon glyphicon-ok white"></i>
				</div>

				<div class="semi-title-wrapper">
					<p class="semi-title">
						<span>{{target.title}}</span>
					</p>
				</div>
			</div>
			<hr>
			<div ng-click="showDetails = !showDetails" class="icon-wrapper">
				<i ng-class="{'glyphicon-chevron-down':!showDetails,'glyphicon-chevron-up':showDetails}" class="glyphicon"></i>
			</div>
			<div ng-show="showDetails" class="details animated fadeInDown">
				<label class="question">
					Question: <span>{{target.question}}</span>
				</label>
				<ul class="list-group">
					<li ng-repeat="list in target.lists" class="animated fadeIn list-group-item">
						 {{list.option}}
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div ng-show="targets.length">
		<button ng-click="downloadFilters()"class="btn-loading btn btn-default">{{loadData}}</button>
	</div>
</section>