<div  skip-to-result num="$parent.num" show-result="$parent.showResult" question="question" index="{{$index}}" answers="$parent.clonedAnsweredIds" ng-repeat="target in question.targets" class="content animated fadeInLeft" ng-show="!targetChecker[$index].isAnswered || $index == num">	
	{{$parent.num}}
	{{$parent.clonedAnsweredIds}}
	<p class='question'>
		{{target.question}}
	</p>
	
	<!-- Warning message -->
	<p ng-show="warning" class="animated fadeIn alert alert-danger">
		Please select something
	</p>
	
	<form ng-submit="submitTarget(question,targetAnswer,$index)">
		
		<ul class="answers">
			<li class='answer' ng-repeat='list in target.lists'>
				<label class='pointer'>
					<input ng-model="$parent.targetAnswer" type="radio" name="targetAnswer" ng-value="list">
					{{list}}
				</label>
			</li>
		</ul>

		<input type="submit" class="submit-button btn btn-primary btn-sm" value="Next">
	</form>
</div>

<div class="content animated fadeInLeft" ng-show="showResult">	
	<h4 class="gray result-label">
		Result:
	</h4>

	<p class='question gray'>
		{{question.question}}
	</p>

	<ul class="answers">
		<li class="blue">	
			Total count: 
			<span class="badge">
				{{question.totalResponses}}
			</span>
		
		</li>
		<!-- <li class='answer' ng-repeat='option in question.options'>
			{{option.title}}: 
			<span class='badge badge-primary'>
				{{option.count}}
			</span>
		</li> -->
	</ul>
 	
    <canvas  ng-if="showResult" piechart options="myChartOptions" class="chart-main" data="myChartData" width="300" height="300"></canvas>

    
	<button ng-click="resetAnswer(question)" class="reset-button bigger btn btn-default">
		Reset
	</button>


	<button class="submit-button bigger btn btn-success">
		See deep result
	</button>
</div>
