/* Backgrounds */

.bg-navy {
    background-color: $Navy!important;
}

.bg-blue {
    background-color: $Blue !important;
}

.bg-lightblue {
    background-color: rgb(133, 208, 231)!important;
}

.bg-aqua {
    background-color: $Aqua!important;
}

.bg-emerald {
    background-color: #1d6c77;
}

.bg-teal {
    background-color: $Teal!important;
}

.bg-olive {
    background-color: $Olive!important;
}

.bg-green {
    background-color: $Green!important;
}

.bg-lime {
    background-color: $Lime!important;
}

.bg-yellow {
    background-color: $Yellow!important;
}

.bg-orange {
    background-color: $Orange!important;
}

.bg-red {
    background-color: $Red!important;
}

.bg-fuchsia {
    background-color: $Fuchsia!important;
}

.bg-purple {
    background-color: $Purple!important;
}

.bg-maroon {
    background-color: $Maroon!important;
}

.bg-white {
    background-color: $White!important;
}

.bg-gray {
    background-color: $Gray!important;
}

.bg-silver {
    background-color: $Silver!important;
}

.bg-black {
    background-color: $Black!important;
}

.bg-lightPurple {
    background-color: rgb(180, 150, 250)!important;
}

/* Colors */

.navy {
    color: $Navy!important;
}

.blue {
    color: $Blue!important;
}

.aqua {
    color: $Aqua!important;
}

.teal {
    color: $Teal!important;
}

.olive {
    color: $Olive!important;
}

.green {
    color: $Green!important;
}

.lime {
    color: $Lime!important;
}

.yellow {
    color: $Yellow!important;
}

.orange {
    color: $Orange!important;
}

.red {
    color: $Red!important;
}

.fuchsia {
    color: $Fuchsia!important;
}

.purple {
    color: $Purple!important;
}

.maroon {
    color: $Maroon!important;
}

.white {
    color: $White !important;
}

.silver {
    color: $Silver!important;
}

.gray {
    color: $Gray!important;
}

.black {
    color: $Black!important;
}

.slightlyBlack {
    color: rgb(130, 130, 130)!important;
}

// borders
.border-blue{
    border:1px solid $blue!important;   
}