doctype html
html(lang="en").no-js
	head
		
		title Which one?
		meta( name="viewport" content="width=device-width, user-scalable=no")
		link(rel='stylesheet', href='/css/main.css')
	
		//- for development --//
		link(rel='stylesheet',href='/dev/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet',href='/dev/font-awesome-4.0.3/css/font-awesome.min.css')
		link(rel='stylesheet',href='/dev/animate.css')
		


		//- for productions -//
		//- link(rel='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		//- link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		//- link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css')
		//- script(src='/js/misc/modernizr-dev.js')
		//- script(src='/js/misc/modernizr-test.js')
		
	body(ng-controller="MainCtrl")
		
		div( ui-view="header")

		div(ng-class="{'push-up':toggleSearchBox}").contain
			
			div(ui-view="content")
		

		script(data-main="/js/main.js" src="/vendors/requirejs/require.js")

		