<section class="modal-content">	
	<h1 hidden>accounts</h1>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>
	<div class="account-form">
		<div class="title-wrapper">
			<p class="title">
				<i class="glyphicon glyphicon-log-in"></i>
				<span>{{title}}</span>
			</p>
		</div>
		<p ng-show="alertMessage.length != 0"class="alert alert-warning">
			{{alertMessage}}
		</p>
		<div class="social-box">
			
			<ul class="social-accounts">
				<li>
					<a href="/auth/facebook" class="btn btn-primary">	<i class="fa fa-facebook"></i> 
						Facebook
					</a>
				</li>
				<li>
					<a href="/auth/twitter" class="btn btn-info">
						<i class="fa fa-twitter"></i> 
						Twitter 
					</a>
				</li>
				<li>
					<a href="/auth/google" class="btn btn-danger">
						<i class="fa fa-google-plus"></i> 
						Google+
					</a>
				</li>
			</ul>
		</div>
		<hr>
		<div class="local-box">
			<div class="title-wrapper">
				<span class="title"> Local</span>
			</div>
			<form ng-if="title=='Signup'" method="post" ng-submit="signup(newUser)" id="signupForm" name="signupForm">
				<ul ng-show="somethingWrongWith.signup" class="alert alert-danger">
					<li> {{warning.password}}</li>
					<li> {{warning.email}}</li>
					<li> {{warning.unknown}}</li>
				</ul>
				<div class="form-group">
					<input type="email" name="email" ng-model="newUser.email" placeholder="Please type email.." class="form-control">
				</div>
				<div class="form-group">
					<input type="password" name="password" ng-model="newUser.password" placeholder="Please type password.." class="form-control">
				</div>
				<label for="remember_me" class="font-size-sl">
					<input id="remember_me" type="checkbox" ng-model="newUser.remember_me" name="remember_me">
					remember me
				</label>
				
				<!-- get rid of the ng-click=signin later=  test purpose -->
				<input type="submit" class="btn btn-primary btn-sm pull-right" value="Signup">
			</form>

			<!-- login form -->
			<form ng-show="title=='Login' && !forgotPass" method="post" ng-submit="login(newUser)" id="loginForm" name="loginForm"  charset="utf-8">
				<p ng-show="somethingWrongWith.login" class="alert alert-danger">
					Wrong username or password
				</p>
				<div class="form-group">
					<input type="email" name="email" ng-model="newUser.email" placeholder="Please type email.." class="form-control">
				</div>
				<div class="form-group">
					<input type="password" name="password" ng-model="newUser.password" placeholder="Please type password.." class="form-control">
				</div>
				<label class="pull-left font-size-sl">
					<input id="remember_me" type="checkbox" ng-model="newUser.remember_me" name="remember_me">
				
					remember me
				</label>
				<span class="pull-right blue pointer font-size-sl" ng-click="toggleForm()">
						
					Forgot password?
				</span>
				<!-- get rid of the ng-click=signin later=  test purpose -->
				<input type="submit" class="clear btn-submit btn btn-primary btn-sm pull-right" value="Login">
			</form>

			<!-- Reset form -->
			<form ng-show="forgotPass" method="post" ng-submit="resetPass(registeredUser)" id="resetForm" name="resetForm"  charset="utf-8" disable-enter>
				<p ng-show="somethingWrongWith.reset" class="alert alert-danger">
					This E-mail is not registered
				</p>
				<p ng-show="success" class="alert alert-info">
					Resetting E-mail is sent
				</p>
				<br>
				<label  class="gray">Please type your registered Email:</label>
				<div class="form-group">
					<input type="email" name="email" ng-model="registeredUser.email" placeholder="Please type email.." class="form-control">
				</div>
				
				<!-- get rid of the ng-click=signin later=  test purpose -->
				<br>
				<button ng-click="toggleForm()" class="btn-sm pull-left btn btn-default">Back</button>
				<input type="submit" class="btn btn-primary btn-sm pull-right" value="Reset">
			</form>
			
		</div>
		<br class="clear">
		<hr>
		<div class="reverse-box">
			<p  ng-show="title=='Signup'" class="gray reverse">
				You already have an account? - 
				<a href="#" ng-click="switch('login')">Login</a>	
			</p>
			<p ng-show="title=='Login'" class="gray reverse">
				If you don't have an account, 
				<a href="#" ng-click="switch('signup')">Sign up</a>
			</p>
		</div>
	</div>
</section>
