<div class="modal-header">	
	<h3>Change Password</h3>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>
</div>
<div class="modal-body">	
	
	<form ng-submit="comparePass(newPass,confirm)">
		<ul ng-show="warning.oldPass.length || warning.compare.length || warning.length.length" class="alert alert-danger">
			<li>{{warning.oldPass}}</li>
			<li>{{warning.length}}</li>
			<li>{{warning.compare}}</li>
		</ul>
		<label for="oldPass" class="gray">Old password:</label>
		<input id="oldPass" type="password" class="form-control" ng-model="oldPass" ng-blur="checkOldPass(oldPass)">
		<br>
		<hr>
		<label for="newPass" class="gray">New password:</label>
		<input id="newPass" type="password" class="form-control" ng-model="newPass">
		<label for="confirm" class="gray">Confirm new password:</label>
		<input id="confirm" type="password" class="form-control" ng-model="confirm">
		<br>
		<button class="btn btn-default pull-left" ng-click="closeModal()">
			Cancel
		</button>
		<input type="submit" value="Done" class="btn btn-primary pull-right">
			
	</form>	
</div>

