<h2 hidden>create a question</h1>
<div class="modal-header">	
	<h3 ng-show="utility.isCreatingQuestion" ng-class="{fadeOutLeft:!utility.isCreatingQuestion,fadeInLeft:utility.isCreatingQuestion}" class="animated">
		Create a question
	</h3>
	<h3 ng-show="utility.isQuestionCreated" ng-class="{fadeInRight:utility.isQuestionCreated, fadeOutRight:!utility.isQuestionCreated}" class="animated">
		Target audience
	</h3>
	<h3 ng-show="utility.isQuestionCompleted" ng-class="{fadeInRight:utility.isQuestionCompleted, fadeOutRight:!utility.isQuestionCompleted}" class="animated">
		Your question is saved!
	</h3>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>

</div>
<div class="modal-body">
	
	<div ui-view='create'></div>
	<div ui-view="target"></div>
	<div ui-view="share"></div>
	
</div>
<div class="modal-footer">
	
	<!-- back buttons -->
	
	<button ng-show="utility.isQuestionCreated" class="pull-left btn btn-default" ng-click="backToCreateQuestion()">Back</button>
	
	
	<!-- close modal button -->
	
	<button class="btn btn-default" ng-hide="utility.isQuestionCompleted" ng-click="closeModal()">
		Cancel
	</button>
	

	<!-- confirmation / next buttons -->
	
	<button ng-show="utility.isCreatingQuestion" class="btn btn-primary" ng-click="submitQuestion()">
		Next
	</button>
	
	<button ng-show="utility.isQuestionCreated && !utility.isQuestionCompleted" class="btn btn-primary" ng-click="completeQuestion()">
		{{completeButton}}
	</button>
	
	<button ng-show="utility.isQuestionCompleted" class="btn btn-primary" ng-click="closeModal()">
		Finish
	</button>

</div>