<h2 hidden>create a question</h1>
<div class="modal-header">	
	<h3 ng-show="utility.isCreatingQuestion" ng-class="{fadeOutLeft:!utility.isCreatingQuestion,fadeInLeft:utility.isCreatingQuestion}" class="animated">
		Create a question
	</h3>
	<h3 ng-show="utility.isQuestionCreated" ng-class="{fadeInRight:utility.isQuestionCreated, fadeOutRight:!utility.isQuestionCreated}" class="animated">
		Target audience
	</h3>
	<h3 ng-show="utility.isQuestionCompleted" ng-class="{fadeInRight:utility.isQuestionCompleted, fadeOutRight:!utility.isQuestionCompleted}" class="animated">
		Share question!
	</h3>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>

</div>
<div class="modal-body" >
	<section ng-show="utility.isCreatingQuestion" ng-class="{fadeOutLeft:!utility.isCreatingQuestion,fadeInLeft:utility.isCreatingQuestion}" class="animated create-question">
		
		<p  ng-show="utility.isQuestionEmpty" class="animated fadeIn alert alert-danger">
			You need to finish making a question. <br>
			Please make at least two options
		</p>
		<label for="question" class="explanation">
			Question:  
		</label>
		
		<input ng-model="question.question" type="text" name="question" id="question" placeholder="Which one do you think ....." class="form-control">
		
		<p class='actualQuestion well'>
			<span class="semi-title">Which one </span> {{question.question}}
		</p>
		<hr>
		<form ng-submit="createOption(question.newOption)" class="create-answers">
			
			<label for="newOption" class="explanation">
				What are the options?
			</label>
			
			<div class="input-group">
				<input ng-model="question.newOption" id="newOption" type="text" name="newOption" placeholder="option ..."  class="form-control">
				<span class="input-group-btn">
					<input type="submit" value="Save" class="btn btn-default">
				</span>
			</div>
			
		</form>
		
		<div ng-class="{fadeOutDown:utility.isOptionAdded}" class="icon-wrapper animated">
			<i class="glyphicon glyphicon-chevron-down"></i>
		</div>
		<div ng-show="utility.isSameOptionFound" class="animated fadeIn alert alert-warning">
			The same option already created
		</div>
		
		<ul class='list-group'>
			<li ng-repeat="option in question.options" class='animated fadeInLeft list-group-item'>
				option {{$index+1}}: 
				<span class="option">{{option}}</span>
				<i ng-click="removeOption($index)" class="glyphicon glyphicon-remove pointer"></i>
			</li>
		</ul>
	</section>

	<section ng-show="utility.isQuestionCreated" ng-class="{fadeInRight:utility.isQuestionCreated,fadeOutRight :!utility.isQuestionCreated}" class="animated target-audience">
		<label for="">
			search filters or create your own:
		</label>
		<div class="utility-wrapper">
			<input ng-model="search.$" type="text" placeholder="Filter responses by ..." name="search" class="pull-left search form-control" >
			<button ng-click="openCreateFilterBox()" class="pull-right btn btn-default">
				Create
			</button>
		</div>
		
		<hr>

		<div ng-show="utility.readyToMakeNewFilter">
			<div new-filter></div>

		</div>
		<ul class='clear audience-cards'>
			<p class="hiddenMessage">
				No filters were found
			</p>
			<li ng-repeat="target in targets | filter:search" class="card card-small">
				<div class="title-wrapper">
					
					<div stop-event button-ok ng-click="addFilter(target)" class='icon-wrapper pull-left' ng-transclude>
						<i class="glyphicon glyphicon-plus"></i>
					</div>
					<!-- <div ng-click="addFilter($index,$event,$log,target)" class='icon-wrapper pull-left' ng-class="{'bg-blue':$index==selected}">
						<i ng-class="{'glyphicon-ok white':$index==selected}" class="glyphicon glyphicon-plus"></i>
					</div> -->


					<div class="semi-title-wrapper">
						<p class="semi-title">
							<span>{{target.title}}</span>
						</p>
					</div>
				</div>
				<hr>
				<div ng-click="showDetails = !showDetails" class="icon-wrapper">
					<i ng-class="{'glyphicon-chevron-down':!showDetails,'glyphicon-chevron-up':showDetails}" class="glyphicon"></i>
				</div>
				<div ng-show="showDetails" class="details animated fadeInDown">
					<label class="question">
						Question: <span>{{target.question}}</span>
					</label>
					<ul class="list-group">
						<li ng-repeat="list in target.lists" class="animated fadeIn list-group-item">
							 {{list}}
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</section>

	<section ng-show="utility.isQuestionCompleted" ng-class="{fadeInRight:utility.isQuestionCompleted,fadeOutRight :!utility.isQuestionCompleted}" class="animated share-box">
		<div class="share-box">
			<div class="title-wrapper">
				<span class="title center"> Via</span>
			</div>
			<ul class="social-accounts">
				<li>
					<a  class='btn btn-primary' href="">
						<i class="glyphicon glyphicon-facebook"></i>
						Facebook 
					</a>
				</li>
				<li>
					<a href="" class="btn btn-info">
						<i class="glyphicon glyphicon-twitter"></i>
						Twitter 
					</a>
				</li>
				<li>
					<a href="" class="btn btn-danger">
						<i class="glyphicon glyphicon-google"></i>
						Google + 
					</a>
				</li>
			</ul>
		</div>
		<hr/>
		<div class="link-box">
			<p class="header"> 
			Send the link below to invite others to your chat room.
		</p>
			<div class="link-creator">
				<span id="link">
					
				</span><!--div(data-clipboard-text="link")#copier.btn.btn-default//|  Copy Link-->
			</div>
		</div>

	</section>

</div>
<div class="modal-footer">
	
	<!-- back buttons -->
	
	<button ng-show="utility.isQuestionCreated" class="pull-left btn btn-default" ng-click="backToCreateQuestion()">Back</button>
	<button ng-show="utility.isQuestionCompleted" class="pull-left btn btn-default" ng-click="backToTargetAudience()">Back</button>
	
	<!-- close modal button -->
	
	<button class="btn btn-default" ng-hide="utility.isQuestionCompleted" ng-click="closeModal()">Cancel</button>
	

	<!-- confirmation / next buttons -->
	
	<button ng-show="utility.isCreatingQuestion" class="btn btn-primary" ng-click="submitQuestion()">Next</button>
	<button ng-show="utility.isQuestionCreated && !utility.isQuestionCompleted" class="btn btn-primary" ng-click="completeQuestion()">Next</button>
	<button ng-show="utility.isQuestionCompleted" class="btn btn-primary" ng-click="closeModal()">Finish</button>

</div>