<h2 hidden>Deep Result</h1>
<div class="modal-header">	
	<h3>
		Deep Result
	</h3>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>

</div>
<div class="modal-body" >
	
	<section ng-hide="showMessageBox" class="content" ng-hide="">
		
		<!-- Filter button -->

		<div ng-if="question.targets.length" class="list-filters">
			<div class='sub-title white bg-teal'>
				<span ng-hide="foundRespondents">Add filters:</span>
				<span class="white" ng-show="foundRespondents">
					Filtered by : 
				</span>
			</div>
			<br>
			<accordion close-others="oneAtATime">
				<accordion-group heading="{{target.title}}" ng-repeat="target in filters">
					<accordion-heading>
						<div class="accordion-header">
							<span class="filter-name">{{target.title}}</span> 
							<span tooltip-placement="top" tooltip="# of filtered respondents" ng-class="{'bg-blue':target.numOfAdded!=0}" class="badge pull-right">{{target.numOfAdded}}</span>
						</div>
			
					</accordion-heading>
					<ul class='list-group'>
					 	<li class='list-group-item' ng-repeat="list in target.lists">
					 		<div tooltip-placement="right" tooltip="# of respondents" class="box-count pull-left">
				 				<span ng-class="{'blue-badge':list.numOfResponses!=0,gray:list.numOfResponses==0}" class='number' >
				 					{{list.numOfResponses}}
				 				</span>
			 				</div>
					 		<div class="option-content"> 
					 			{{list.option}}
					 		</div>
			
					 		<button ng-class="{'btn-primary':!list.isAdded,'btn-danger':list.isAdded}"  ng-click="addFilter(list,target)" class="btn-list btn btn-sm">
					 			{{list.filterBtn}} 
					 		</button>
					 	</li>
				 	</ul> 
				</accordion-group>
			</accordion>
			<!-- added target question Section -->
			<div class="well" ng-show="foundRespondents">
				<ul class="respondents" ng-repeat="category in filterCategories">
					<li class="label label-info">
						{{category.categoryTitle}}
					</li>
					<li class="respondent" ng-repeat="option in category.option">
						{{option}}
					</li>
				</ul>
			</div>
			<hr>
		</div>

		
		

		<!-- Statistics box -->
		<div class="statistics">
			<!-- Statistics Section -->
			<div class='sub-title white bg-orange'>Statistics</div>
			<br>
			<div class="filter-wrapper">
				<blockquote class='question'>
					 <p class='gray'>
					 	<i class="fa fa-quote-left"></i>
					 		{{question.question}} 
					 	<i class="fa fa-quote-right"></i>
					 </p>
				</blockquote>
				<ul ng-class="{'wide-width':!question.targets.length}"class="well">
					<label class='slightlyBlack'>Overall</label>
					<li class="blue">	
						Total : 
						<span class="badge">
						{{question.totalResponses}}
						</span>
					
					</li>
					<li class='answer gray' ng-repeat='option in question.option'>
						{{option.title}}: 
						<span>
							{{option.count}}
						</span>
					</li>
				</ul>
				<ul ng-if="question.targets.length" class="well">
					<label class='slightlyBlack'>Filter</label>
					<li class="blue">	
						Total : 
						<span class="badge">
							{{filterGroup.total}}
						</span>
					
					</li>
					<li class='answer gray' ng-repeat='answer in filterGroup.answers'>
						{{answer.title}}: 
						<span>
							{{answer.count}}
						</span>
					</li>
				</ul>
			</div>
			<hr>
		</div>
		
		<!-- Graph Section -->

		<div class="chart">
			<div class='bg-olive white sub-title'>Graph</div>
			<ul class='legends'>
				<li ng-hide="foundRespondents && chartType=='pie'" class='overall label label-default'>Overall</li>
				<li ng-show="foundRespondents && filterGroup.total != 0" ng-class="{'toCenter':chartType=='pie'}"class='filter label label-default'>Filter</li>
			</ul>
			
			<div class="graphs">
				<!-- if the chart type is pie and filters seleced but the total number is 0, show this message -->
				<div ng-if="chartType=='pie' && foundRespondents && filterGroup.total==0" class="noInfo">
					<p class="aqua"><i class="fa fa-frown-o"></i> No filtered data</p>
				</div>

				<canvas  ng-if="chartType=='pie' && !foundRespondents" piechart options="pieChartOptions"  class="chart-pie" data="myChartDataOverall" width="300" height="300"></canvas> 
				
				<canvas  ng-if="chartType=='pie' && foundRespondents && filterGroup.total != 0"  piechart options="pieChartOptions"  class="chart-pie" data="myChartDataDeep" width="300" height="300"></canvas>
				
				<canvas  ng-if="chartType=='radar'" radarchart options="radarChartOptions" class='chart-radar' data="myChartInfo" width="300" height="300"></canvas>
				
				<canvas  ng-if="chartType=='line'" linechart options="lineChartOptions" class='chart-line' data="myChartInfo" width="300" height="300"></canvas>
			
			</div>
			
			<div class="button-charts btn-group">
				<button type="button" ng-click="chartType='pie'" ng-class="{active:chartType=='pie'}" class="btn btn-sm btn-default">Pie chart</button>
				<button type="button"  ng-click="chartType='radar'" ng-class="{active:chartType=='radar'}" class="btn btn-sm btn-default">Rader chart</button>
				<button type="button"  ng-click="chartType='line'" ng-class="{active:chartType=='line'}" class="btn btn-sm btn-default">Line chart</button>
			</div>
			<hr>
		</div>
		
		<!-- Percentage Section -->
		<div class="percentage">
			<div class='bg-lightPurple white sub-title'>Percentage</div>
			<br>
	
			<ul class="chart-percentage">
				<li class="list-chart" ng-repeat="option in question.option">
					
					<p class='gray chart-title'>
						
						<span class="fuchsia">{{option.title}}</span>
						 was chosen by
					</p>
					<div class="graphs">
						<canvas ng-hide="isFiltered" doughnutchart options="donutOption" class="chart-main" data="donutDataOverall[$index]" width="300" height="300"></canvas>
						<canvas ng-show="isFiltered"  doughnutchart options="donutOption" class="chart-main" data="donutDataFiltered[$index]" width="300" height="300"></canvas>
					</div>
					<div ng-if="question.targets.length" class="button-switch btn-group">
						<button ng-click="isFiltered=!isFiltered" class='btn btn-sm btn-default' ng-class="{'active':!isFiltered}">Overall</button>
						<button ng-click="isFiltered=!isFiltered" class='btn btn-sm btn-default' ng-class="{'active':isFiltered}">Filtered</button>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section ng-show="showMessageBox" class="messages">
		<div id="disqus_thread"></div>
	    <script type="text/javascript">
	    	var disqus_developer = 1; 
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'whichone'; // required: replace example with your forum shortname

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	    
	</section>
	
</div>
<div class="modal-footer">
	<button class="pull-left btn btn-default" ng-click="closeModal()">
		Close	
	</button>
	
	<button ng-click="showMessages()" class="pull-right btn btn-primary">
		{{buttonMessage}}
	</button>
</div>
