<h2 hidden>Deep Result</h1>
<div class="modal-header">	
	<h3>
		Deep Result
	</h3>
	<button class="btn btn-sm btn-default btn-comment">See Comments</button>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>

</div>
<div class="modal-body" >
	
	<div class="content">
		
		<!-- <div class="question">
			<span class="gray">Question:</span> <br>
			<span class="question-name">{{question.question}}</span>
		</div>
	
		<hr> -->

		<!-- Filter button -->

		<div class="list-filters">
			<div class='sub-title gray'>
				<span ng-hide="foundRespondents">Add filters:</span>
				<span class="blue" ng-show="foundRespondents">
					Users who are: 
				</span>
			</div>
			<br>
			
			<!-- added target question Section -->
			<div class="well" ng-show="foundRespondents">
				<ul class="respondents" ng-repeat="category in filterCategories">
					<li class="label label-info">
						{{category.categoryTitle}}
					</li>
					<li class="respondent" ng-repeat="option in category.options">
						{{option}}
					</li>
				</ul>
			</div>

			<accordion close-others="oneAtATime">
				<accordion-group heading="{{target.title}}" ng-repeat="target in filters">
					<accordion-heading>
						<div class="accordion-header">
							<span class="filter-name">{{target.title}}</span> 
							<span tooltip-placement="top" tooltip="# of filtered respondents" class="badge pull-right">{{target.numOfAdded}}</span>
						</div>
			
					</accordion-heading>
					<ul class='list-group'>
					 	<li class='list-group-item' ng-repeat="list in target.lists">
					 		<div tooltip-placement="right" tooltip="# of respondents" class="box-count pull-left">
				 				<span ng-class="{blue:list.numOfResponses!=0,gray:list.numOfResponses==0}" class='number' >
				 					{{list.numOfResponses}}
				 				</span>
			 				</div>
					 		<div class="option-content"> 
					 			{{list.option}}
					 		</div>
			
					 		<button ng-class="{'btn-primary':!list.isAdded,'btn-danger':list.isAdded}"  ng-click="addFilter(list,target)" class="btn-list btn btn-sm">
					 			{{list.filterBtn}} 
					 		</button>
					 	</li>
				 	</ul> 
				</accordion-group>
			</accordion>
			<hr>
		</div>

		
		

		<!-- Statistics box -->
		<div class="statistics">
			<!-- Statistics Section -->
			<div class='sub-title gray'>Statistics</div>
			<br>
			<div class="filter-wrapper">
				<ul class="well">
					<label class='slightlyBlack'>Overall</label>
					<li class="blue">	
						Total : 
						<span class="badge">
						{{question.totalResponses}}
						</span>
					
					</li>
					<li class='answer gray' ng-repeat='option in question.options'>
						{{option.title}}: 
						<span>
							{{option.count}}
						</span>
					</li>
				</ul>
				<ul class="well">
					<label class='slightlyBlack'>Filter</label>
					<li class="blue">	
						Total : 
						<span class="badge">
							{{filterGroup.total}}
						</span>
					
					</li>
					<li class='answer gray' ng-repeat='option in question.options'>
						{{option.title}}: 
						<span>
							{{option.count}}
						</span>
					</li>
				</ul>
			</div>
			<hr>
		</div>
		
		<!-- Graph Section -->

		<div class="chart">
			<div class='sub-title gray'>Graph</div>
			<ul class='legends'>
				<li ng-hide="chartType=='pie' && filterAdded"class='overall label label-default'>Overall</li>
				<li ng-show="filterAdded" ng-class="{'toCenter':chartType=='pie'}"class='filter label label-default'>Filter</li>
			</ul>
			
			<div class="graphs">
			
				<canvas  ng-if="chartType=='pie'" piechart  class="chart-pie" data="myChartDataDeep" width="300" height="300"></canvas> 
				
				<canvas  ng-if="chartType=='radar'" radarchart options="radarChartOptions" class='chart-radar' data="chart" width="300" height="300"></canvas>
				
				<canvas  ng-if="chartType=='line'" linechart options="lineChartOptions" class='chart-line' data="chart" width="300" height="300"></canvas>
			
			</div>
			
			<div class="button-charts btn-group">
				<button type="button" ng-click="chartType='pie'" ng-class="{active:chartType=='pie'}" class="btn btn-sm btn-default">Pie chart</button>
				<button type="button"  ng-click="chartType='radar'" ng-class="{active:chartType=='radar'}" class="btn btn-sm btn-default">Rader chart</button>
				<button type="button"  ng-click="chartType='line'" ng-class="{active:chartType=='line'}" class="btn btn-sm btn-default">Line chart</button>
			</div>
			<hr>
		</div>
		
		<!-- Percentage Section -->
		<div class="percentage">
			<div class='sub-title gray'>Percentage</div>
			<br>
	
			<ul class="chart-percentage">
				<li class="list-chart">
					
					<span class='chart-title'>NodeJS</span>
					<div class="graphs">
						<canvas  doughnutchart options="donutOption" class="chart-main" data="donutData" width="300" height="300"></canvas>
					</div>
					<div class="button-switch btn-group">
						<button class='btn btn-sm btn-default active'>Overall</button>
						<button class='btn btn-sm btn-default'>Filtered</button>
					</div>
				</li>
				<li class="list-chart">
					
					<span class='chart-title'>Ruby</span>
					<div class="graphs">
						<canvas  doughnutchart options="donutOption" class="chart-main" data="donutData" width="300" height="300"></canvas>
					</div>
					<div class="button-switch btn-group">
						<button class='btn btn-sm btn-default active'>Overall</button>
						<button class='btn btn-sm btn-default'>Filtered</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="pull-left btn btn-default" ng-click="closeModal()">
		Close	
	</button>
	<button class="pull-right btn btn-primary">
		See Comments
	</button>

</div>
