<div class="modal-header">
	<h3>Question</h3>
	<button type="button" ng-click="closeModal()" class="close">
	 	×
	 </button>
</div>
<div class="modal-body">

	<ul class='content-cards'>
		<li ng-controller="ListCtrl">
			<div answered='answered' submitted="submitted"  class="card card-large">
				
				<!-- should make a directive for this -->
				<div favorited="question" favorite="favorite" class="favorite-button" ng-click="fillStar(question)">
					<i ng-show="!favorite" class="glyphicon glyphicon-star-empty"></i>
					<i ng-show="favorite" class="glyphicon glyphicon-star"></i>
				</div>
	
				<div ui-sref=".share({id:question.id})" class="share-button">
					<i class="glyphicon glyphicon-share"></i>
				</div>
	
				<div ng-hide="submitted" class="content">
					
					<p class='question'>
						{{question.question}}
					</p>
	
					<!-- Warning message -->
					<p ng-show="warning" class="animated fadeIn alert alert-danger">
						Please select something
					</p>
	
					<form ng-submit="submitAnswer(answer,question)" id="surveyForm">
						
						<ul class="answers">
							<li ng-hide="targetQ.isQuestionAnswered" class='answer' ng-repeat='option in question.options'>
								<label class='pointer'>
									<input ng-model="$parent.answer" type="radio" name="answer" ng-value="option">
									{{option.title}}
								</label>
							</li>
						</ul>
						<input type="submit" class="submit-button btn btn-primary btn-sm" value="See result">
					</form>
				</div>
				
				<div ui-view='questionResult' ng-show="submitted" class="animated question-content" ></div>
				
	
				<div class="card-bottom">
					<ul>
						<li class='userPhoto'>
							<a href="#">
								<img ng-src="{{question.photo}}" alt="{{question.creatorName}}">
							</a>
						</li>
						<li class='category silver'>
							category: 
							<span ng-click="searchByCategory(question.category)" class='name gray'>
								{{question.category}}
							</span>
						</li>
					</ul>
				</div>
	
			</div>
		</li>
	
	</ul>

</div>
<div class="modal-footer">
	<button ng-click="closeModal()" class='btn btn-default pull-right'>Close</button>
</div>
