
<div class="modal-header">
	
	<h3>Share</h3>
	<button type="button" ng-click="closeModal()" class="close"> ×</button>

</div>
<div class="modal-body">
	<section class="animated share-box">
		<div ng-hide="showShareForm" class="loader">
			<div class="loaderWrapper">
				<img src="/img/utility/loader.gif" alt="loading">
			</div>
		</div>
		<div class="share-box" ng-show="showShareForm">
			
			<div class="title-wrapper">
				<span class="title center"> Share your question via: </span>
			</div>
			<ul class="social-accounts">
				<li>
					<button  class='btn btn-primary' ng-click="shareFacebook()">
						<i class="glyphicon glyphicon-facebook"></i>
						Facebook 
					</button>
				</li>
				<li>
					<a ng-href="{{shareText}}" class="btn btn-info">
						<i class="glyphicon glyphicon-twitter"></i>
						Twitter 
					</a>
				</li>
				<li>
					<a href="" class="btn btn-danger">
						<i class="glyphicon glyphicon-google"></i>
						Google + 
					</a>
				</li>
			</ul>
		</div>
		<hr/>
		<div class="link-box">
			<p class="header"> 
			Send the link below to invite others to your chat room.
		</p>
			<div class="link-creator">
				<span id="link">
					{{sharableLink}}
				</span><!--div(data-clipboard-text="link")#copier.btn.btn-default//|  Copy Link-->
			</div>
		</div>

	</section>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="closeModal()">
		Cancel
	</button>
	

	<button class="btn btn-primary" ng-click="closeModal()">
		Done
	</button>
</div>