
<div class="modal-header">
	
	<h3>Share</h3>

</div>
<div class="modal-body">
	<section class="animated share-box">
			
		<div class="share-box">
			<div class="title-wrapper">
				<span class="title center"> Share your question via: </span>
			</div>
			<ul class="social-accounts">
				<li>
					<a  class='btn btn-primary' href="">
						<i class="glyphicon glyphicon-facebook"></i>
						Facebook 
					</a>
				</li>
				<li>
					<a href="" class="btn btn-info">
						<i class="glyphicon glyphicon-twitter"></i>
						Twitter 
					</a>
				</li>
				<li>
					<a href="" class="btn btn-danger">
						<i class="glyphicon glyphicon-google"></i>
						Google + 
					</a>
				</li>
			</ul>
		</div>
		<hr/>
		<div class="link-box">
			<p class="header"> 
			Send the link below to invite others to your chat room.
		</p>
			<div class="link-creator">
				<span id="link">
					
				</span><!--div(data-clipboard-text="link")#copier.btn.btn-default//|  Copy Link-->
			</div>
		</div>

	</section>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="closeModal()">
		Cancel
	</button>
	

	<button class="btn btn-primary" ng-click="closeModal()">
		Done
	</button>
</div>