/* Backgrounds */

.bg-navy {    background-color: $Navy; }
.bg-blue {    background-color: $Blue; }
.bg-aqua {    background-color: $Aqua; }
.bg-emerald{  background-color: #1D6C77 }
.bg-teal {    background-color: $Teal; }
.bg-olive {   background-color: $Olive; }
.bg-green {   background-color: $Green; }
.bg-lime {    background-color: $Lime; }
.bg-yellow {  background-color: $Yellow; }
.bg-orange {  background-color: $Orange; }
.bg-red {     background-color: $Red; }
.bg-fuchsia { background-color: $Fuchsia; }
.bg-purple {  background-color: $Purple; }
.bg-maroon {  background-color: $Maroon; }
.bg-white {   background-color: $White; }
.bg-gray {    background-color: $Gray; }
.bg-silver {  background-color: $Silver; }
.bg-black {   background-color: $Black; }


/* Colors */

.navy {       color: $Navy; }
.blue {       color: $Blue; }
.aqua {       color: $Aqua; }
.teal {       color: $Teal; }
.olive {      color: $Olive; }
.green {      color: $Green; }
.lime {       color: $Lime; }
.yellow {     color: $Yellow; }
.orange {     color: $Orange; }
.red {        color: $Red; }
.fuchsia {    color: $Fuchsia; }
.purple {     color: $Purple; }
.maroon {     color: $Maroon; }
.white {      color: $White!important;}
.silver {     color: $Silver; }
.gray {       color: $Gray; }
.black {      color: $Black; }



