//---------Susy setup---------//
$total-columns:12;
$column-width:4em;
$gutter-width:1em;
$grid-padding:$gutter-width;


$small:20em;
$medium:48em;
$large:65em;


//------------------Colors -------------------//
//default colors
$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$slightlyGray   : rgb(240,240,240);
$darkblue       : #0A2933;
$darkerblue     : #042029;
$lightblue 		: rgb(91,192,222);
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;



//from ckrs.cc
$Navy 			:#001F3F;
$Blue 			:#0074D9;
$Aqua 			:#7FDBFF;
$Teal  			:#39CCCC;
$Olive 			:#3D9970;	
$Green 			:#2ECC40;
$Lime 			:#01FF70;
$Yellow	 		:#FFDC00;
$Orange 		:#FF851B;
$Red 			:#FF4136;
$Maroon  		:#85144B;
$Fuchsia 		:#F012BE;
$Purple 		:#B10DC9;
$Silver 		:#DDDDDD;
$Gray  			:#AAAAAA;
$White 			:#fff;
$Black 			:#111111;

